*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #f5f5dc;
    font-family: Poppins;
    margin: 50px auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: #333;
}

.input-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

button{
    padding: 10px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius:4px;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}